h1{color: brown;
font-family: sans-serif;
}
p{font-size: 24px;
border: 2px solid rgb(177, 84, 64)}
body{
    background-color: burlywood;
}
.image{
    border-radius: 90%;
  }
.flex-container {
  display: flex;

}

.flex-container > li {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
